# Mercado Pago Access Token (test- o producción- según el entorno)
MERCADOPAGO_ACCESS_TOKEN=TEST-405855773911908-091420-cc9e7a633f46c5872431112ab1c1b67d-131248119
# URL pública de la aplicación. En local, usar un túnel HTTPS (por ejemplo ngrok)
APP_HOST=http://localhost:3100
